/* navbar styling */

.navbar {
    background-color: rgb(130, 132, 127);
    color: #000000;
    align-items: center;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-left {
    display: flex;
    align-items: center;
    float: left;
    padding-left: 1%;
    font-family: cursive;
}

.nav-right {
    text-decoration: none;
    float: right;
    padding-right: 1%;
}

.nav-right a:hover {
    text-decoration: underline;
}
/* Website CSS */
body {
    font-family: "Helvetica", sans-serif;
    margin: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #4740401f;
    z-index: 1000;
    padding-top: 5%;
}

.container {
    max-width: 80%;
    background-color: #fff;
    padding: 20%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.photo img {
    max-width: 100%;
    border-radius: 50%;
}

.content {
    margin-top: 20%;
    text-align: center;
}


blockquote {
    font-style: italic;
    margin-top: 20px;
    border-left: 4px solid #333;
    padding-left: 10px;
}
footer {
    background-color: #f4f4f4;

    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed;
}

a {
    color: darkviolet;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

a:hover {
    background-color: whitesmoke;
}
a.active {
    color: white;
}

nav ul {
    margin: 0;
    padding: 35px;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
}
